<!--
     SPDX-FileCopyrightText: Lineage OS Special Project (LOSP)
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.losp.apps.resources">

    <application android:hasCode="false" />
</manifest>
